h1 {
padding: 2rem;
}

.img-prd-cat {
    max-width: 100%;
    max-height: 200px;
    margin: auto;
    display: block;
    object-fit: contain;
}

.card-img {
    max-height: 300px;
    margin: auto;
    display: block;
    object-fit: contain;
}

.category {
    font-family: Verdana;
}

.checkbox {
    opacity: 0;
    margin-left: 15px;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {transform: translateX(24px);}

.container-fluid .row #checkbox {display: none;}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}